@keyframes navitemin {
  from {
    opacity: 0;
    transform: translate(0, -2rem);
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes jump {
  0% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(0,-1rem);
  }

  100% {
    transform: translate(0,0);
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
