body.post {
  background: #fff;
}


.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 1rem 2rem;

  .heading {
  	font-family: "Montserrat", Arial, sans-serif;
  	font-size: 3rem;
  	font-weight: 500;
  	line-height: 1.5;
  	text-align: center;
  	padding: 1rem 0;
  	color: #1a1a1a;

    span {
    	display: block;
    }
  }
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20em, 2fr));
	grid-gap: 2em;

  .gallery-image {
  	display: block;
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	transition: transform 300ms ease-out;
  }
  @include breakpoints(tablet-wide){
  .gallery-image:hover {
    transform: scale(1.1);
    // border: 10px solid #fff;
    filter: drop-shadow(0 0 1px #000);}
  }
}

 // ------------ GRID PRINT ------------------

.print-grid {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(5, 3fr);

  .print-grid-items {
    position: relative;
    // overflow: visible;
    grid-column-end: span 2;
    align-items: end;
    p {
      align-self: end;
      }
  }
  .print-grid-items_image {
    grid-column-end: span 3;
  }
}
