body {
  &.post {
    background: #fff;
  }
}


.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 1rem 2rem;
}


.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18em, 2fr));
	grid-gap: 2em;

  .gallery-title {
    max-width: 350px;
    p {
      font-size: 1.3em;
      color: var(--color-background);
      text-align: center;
      @include breakpoints (phablet) {
        text-align: right;
      }
    }
  }

  .web-title {
    display: block;
    font-weight: bold;
    @include breakpoints (phablet) {
      display: inline;
    }
  }

  .gallery-image {
  	display: block;
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }
  .gallery-image__web {
   transition: transform 300ms ease-out;
  }
  @include breakpoints(tablet-wide){
  .gallery-image__web:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 1px var(--color-text-main));}
  }
}

 // ------------ GRID PRINT ------------------

 .print-grid {
   display: grid;
   grid-template-columns: minmax(min-content, 500px) minmax(650px, 1fr) 1fr;
   grid-template-rows: auto;
   grid-gap: 1vw;
   @include breakpoints(phone-wide) {
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 5vw;
   }
   img { max-width: 100%;}

   .postcards-description {
     z-index: 1;
     grid-column: 1 / 2;
     @include breakpoints(phone-wide) { grid-column: 1 / -1; }

     p {
       font-size: 1.6em;
       padding: 4em 0 0 2em;;
       @include breakpoints(tablet-wide){
         font-size: 1.6em;
         padding: 5em 0 0 8em
       }
       @include breakpoints(phone-wide) {
         font-size: 1.2em;
         padding: 2em 0 0 10em;
       }
     }
   }

   .postcards {
     grid-column: 2 / -1;
     justify-self: end;
     @include breakpoints(phone-wide) {
       grid-column:  1 / -1;
       img {
         margin-bottom: 2em;
       }
     }
   }

   .nani-catalogue {
     grid-column: 1 / 1;
     justify-self: center;
     padding-left: 5em;
     @include breakpoints(phone-wide) {
       grid-column: 1 / -1;
       padding-left: 1em;
      }
     }
   }

   .nani-catalogue-description {
     grid-column: 2 / -1;
     justify-self: center;
     align-self: end;
     padding-top: 3em;
     @include breakpoints(phone-wide) {
       grid-column: 1 / -1;
     }
     p { font-size: 1.7em;}
     @include breakpoints (phone-wide) {
       font-size: 1.2em;
     }
     // p:nth-child(2) { margin-bottom: 10em; }

   }

   .bella-inside {
     grid-column: 1 / 2;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-content: flex-start;
     overflow: visible;
     white-space: nowrap;
     margin-left: 5em;

     @include breakpoints(phone-wide) {
       grid-column: 1 / -1;
       margin-left: 0;
     }

     .bella-inside-logo-awards, .print_logo {
       align-self: center;
       padding-top: 2em;
       margin-bottom: 2em;
     }
     img {
       max-width: 40%;
     }
     > p {
       font-size: 1.5em;
       text-align: center;

       @include breakpoints (phone-wide) {
         font-size: 1.1em;
       }
     }
     p:first-child {
       margin-top: 2em;
       text-transform: uppercase;
     }
   }

   .bella-inside-cover {
     grid-column: 2 / -1;
     margin-bottom: 3em;

     img {
       padding-left: 0;
       padding-top: 1em;
       @include breakpoints (tablet-wide){
         padding-left: 10em;
       }
     }

     @include breakpoints(phone-wide) {
       grid-column: 1 / -1;
     }

   }

   .regal-magazine {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 5em;
     @include breakpoints (tablet-wide){
       grid-column: 2 / -1;
       margin-left: 15em;
     }
   }

   .regal-magazine-description {
     grid-column: 1 / -1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     @include breakpoints(tablet-wide) {
       grid-column: 1 / 1;
       margin-left: 4em;
       margin-bottom: 13em;
     }
     p {
       font-size: 1.5em;
       text-align: center;
       margin-top: 1em;
     }
     & .logo-economedia { width: 30%; }
   }

   .horemag-magazine {
     grid-column: 1 / -1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     @include breakpoints(tablet-wide) {
       grid-column: 1 / 2;
       margin-left: 4em;
     }
     p {
       font-size: 1.5em;
       text-align: center;
       margin-top: 1em;
     }
     & .logo-economedia { width: 30%; }
   }

   .horemag-magazine-description {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     @include breakpoints(tablet-wide) {
       grid-column: 2 / -1;
       margin-left: 15em;
     }
   }
