body {
  padding-top: 3em;

  @include breakpoints (phone-wide) {
    padding-top: 4em;
  }
  @include breakpoints (phablet) {
    padding-top: 5em;
  }
  @include breakpoints (tablet-wide) {
    padding-top: 8em;
  }
}

.site-branding {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  padding: var(--spacing-site);
  // padding-bottom: 2rem;
  background: rgba(0,41,51,0.9);

}
.site-title {
  font-size: 1.2em;
  text-transform: uppercase;
  padding-bottom: 0.5rem;

  & a {
    text-decoration: none;
    color: var(--color-text-main);
  }
}

.site-description {
  display: none;
  font-style: italic;
  font-family: serif;
  font-size: 120%;
}
