:root {
  --font-size-initial: 12px;
  --font-size-lv2: 14px;
  --font-siz-lv3: 15px;
  --font-size-lv4: 18px;

  --spacing-site: 1.1em;
  --color-background: #002933;
  --color-text-main: #5d9193;
}
